# The Price of Art

## Question
What determines the price of (modern) art?

## Hypothesis
An interaction of artist, artwork features, and representation.

## Methodology

1. Examine a model where price is just being predicted by artist, to see if that model can account for significant amounts of variance. 
2. Examine a model where price is just being predicted by artwork features, """ 
3. Examine a model where price is just being predicted by representation, """
4. See if we can do some structural equation modelling of this

# Step 1: Data cleaning

### Import raw data from CSV

In [180]:
import numpy as np
import pandas as pd

# import from raw CSV
artsy_data = pd.read_csv("./data/artworks_list_FINAL.csv", header=0)
artsy_data = artsy_data.drop(columns=['collection_index'])

f"Our raw dataset has {len(artsy_data)} entries."

'Our raw dataset has 2970 entries.'

### Remove error rows
These are entries where we were unable to collect useable data, most likely because the artwork had already been sold at the time of the data scraping, even though it was in the Artsy listings index.

In [181]:
# find rows where error collection has failed
error_rows = artsy_data.index[(artsy_data == "error").any(axis=1)].tolist()

# exclude these rows from the overall dataframe
artsy_listings = artsy_data.drop(error_rows, axis=0)

# how much of original dataframe did we exclude?
rows_excluded = len(error_rows)
percent_excluded = round((len(artsy_data) - len(artsy_listings)) / len(artsy_data) * 100, 2)
f"We excluded {rows_excluded} entries, or {percent_excluded}% of the original dataset, because of errors in data collection."

'We excluded 9 entries, or 0.3% of the original dataset, because of errors in data collection.'

In [182]:
# look at data types
artsy_listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2961 entries, 0 to 2969
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   page_url            2961 non-null   object
 1   artist              2961 non-null   object
 2   artist_nationality  2929 non-null   object
 3   artist_birthdate    2002 non-null   object
 4   title               2961 non-null   object
 5   image_url           2961 non-null   object
 6   year                2957 non-null   object
 7   gallery             2960 non-null   object
 8   gallery_location    2960 non-null   object
 9   medium              2961 non-null   object
 10  medium_details      2961 non-null   object
 11  size_inches         2961 non-null   object
 12  size_cm             2961 non-null   object
 13  condition           1341 non-null   object
 14  classification      2961 non-null   object
 15  signed              2821 non-null   object
 16  authenticated       2090 non-null   object
 17  framed              2961 non-null   object
 18  currency            2736 non-null   object
 19  price               2736 non-null   object
dtypes: object(20)
memory usage: 485.8+ KB

## Clean target variable

The target variable is price, but these are all in different currencies. We will standardise price in GBP.

In [183]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(artsy_listings['price'])

0                                           55,000
1                                            3,500
2                                            2,000
3                                            6,500
5                                            1,250
6                                           15,000
7                                            1,800
8                                              700
9                                            8,000
10                                          11,000
11                                           2,000
12                                           1,000
13                                           3,650
14                                           4,500
15                                           3,200
17                                           2,200
18                                             800
19                                          80,000
20                                           4,500
21                                           3,495
22                                             800
23                                             800
24                                             695
25                                           3,500
26                                           1,800
27                                           3,900
28                                         120,000
29                                           2,000
30                                          16,000
31                                             250
32                                           1,900
33                                           1,000
34                                           2,400
35                                          18,000
36                                           6,500
37                                          23,000
38                                             390
39                                          22,000
40                                             250
41                                          13,000
42                                           1,500
43                                          50,000
44                                          12,900
45                                           1,725
46                                           3,200
47                                           1,650
48                                           6,000
49                                           5,500
50                                          22,500
51                                          45,000
52                                          20,000
53                                             200
54                                          10,320
55                                          31,250
56                                             580
57                                           1,000
58                                             800
59                                          17,000
60                                           1,300
61                                           2,000
62                                           1,200
63                                          19,895
64                                             900
65                                           6,000
66                                           3,500
67                                           2,500
68                                           5,500
69                                             110
70                                           2,750
71                                             750
72                                           3,200
73                                          17,500
74                                           4,100
75                                          20,000
76                                           3,000
77                                           3,300
78                                           4,495
79                                           2,895
80                                           2,800
81                                          18,000
82                                           7,500
83                                           2,250
84                                          18,000
85                           his is a unique work.
86                                             180
87                                           5,500
88                                           4,000
89                                          30,000
90                                             110
91                                           3,600
92                                           5,500
93                                          16,500
94                                             495
95                                           1,000
96                                           6,000
97                                          16,000
98                                           7,000
99                                          89,000
100                                            850
101                                          6,000
102                                             95
103                                          1,800
104                                         14,400
105                                            450
106                                          3,300
107                                          3,900
108                                          6,495
109                                         20,000
110                                         48,000
111                                          2,400
112                                         15,500
113                                            400
114                                         20,000
115                                         11,000
116                          his is a unique work.
117                                          1,600
118                                         55,000
119                                          6,000
120                                          1,800
121                                          1,000
122                                          7,500
123                                          1,600
124                          his is a unique work.
125                                         15,700
126                                         16,500
127                                          4,500
128                                         13,895
129                                            250
130                                         15,500
131                                         14,500
132                                          4,500
133                                          4,500
134                                         16,000
135                                          6,500
136                                          3,895
137                                        800,000
138                                          4,500
139                                         85,000
140                                          6,200
141                                            150
142                                         17,895
143                                          2,500
144                                          5,500
145                                          1,800
146                                          3,400
147                                          4,000
148                                          3,000
149                                            400
150                                          7,500
151                                         12,900
152                                         21,000
153                                          2,500
154                                          4,000
155                                          7,950
156                                         50,000
157                                          3,500
158                                          2,900
159                                         10,350
160                                            450
161                                          3,500
162                                          9,000
163                                          7,800
164                                          1,200
165                                          2,800
166                                          3,375
167                                         19,500
168                                            250
169                                         25,000
170                                         12,500
171                                          4,495
172                                            750
173                                          1,500
174                                          3,100
175                                          3,800
176                                             95
177                                         18,000
178                                         28,000
179     his work is part of a limited edition set.
180                                         16,000
181                                          3,900
182                                            250
183                                          2,500
184                                          3,000
185                                            950
186                                            200
187                                          5,500
188                                            475
189                                          2,500
190                                          9,200
191                                          1,200
192                                          2,500
193                                          8,100
194                                          1,500
195                                          1,250
196                                        200,000
197     his work is part of a limited edition set.
198                                          9,000
199                                          7,000
200                                          2,400
201                                          8,000
202                                          2,200
203                                          3,895
204                                            250
205                                          9,750
206                                         50,000
207                                            395
208                                          1,950
209                                          1,900
210                                          4,950
211                                          6,000
212                                          4,300
213                                          2,800
214                                          7,500
215                                            800
216                                          4,400
217                                            370
218                                         26,000
219                                          8,000
220                                         36,000
221                                         80,000
222                          his is a unique work.
223                                         24,500
224                                          2,600
225                                          6,600
226                                          2,500
227                                         17,000
228                                          2,900
229                                            250
230                                          1,200
231                                         35,000
232                                          2,000
233                                          6,500
234                                          1,895
235                                            750
236                                          1,600
237                                         10,000
238                                          3,750
239                                          2,000
240                                          5,500
241                                          3,600
242                                          2,500
243                                            800
244                                          2,500
245                                          1,800
246                                         25,000
247                                            230
248                                          3,600
249                                          1,400
250                                            375
251                                          2,800
252                                          2,750
253                                          1,550
254                                          2,900
255                                          3,570
256                                          2,500
257                                         26,250
258                                            400
259                                         14,000
260                                          3,850
261                                         14,000
262                                          3,250
263                                        200,000
264                                          1,330
265                                         20,000
266                                          2,200
267     his work is part of a limited edition set.
268     his work is part of a limited edition set.
269                                            840
270                                         95,000
271                                            250
272                                        195,000
273                                         14,500
274                                          1,950
275                                         34,000
276                                          3,400
277                                          4,900
278                                          4,500
279                                          2,600
280                                          1,500
281                                          5,200
282                                         11,000
283                                          2,995
284                                            100
285                                          9,295
286                                         15,000
287                                          5,200
288                                          7,000
289                                         10,300
290     his work is part of a limited edition set.
291                                         18,900
292                                          2,500
293                                          1,300
294                                            800
295                                         14,500
296                                          1,500
297                                            990
298                                         13,800
299                                          5,000
300                                          3,500
301                                         19,950
302                                            200
303                                         21,000
304                                          7,500
305                                          3,000
306                                          7,950
307                                         29,000
308                                            250
309                                          2,700
310                          his is a unique work.
311                                          5,000
312                                          3,500
313                                          2,895
314                                         70,000
315                                         13,000
316                                          7,450
317                                          5,500
318                          his is a unique work.
319                                          3,400
320                                        175,000
321                                          2,320
322                                          1,800
323                                          1,200
324                                         15,500
325                                         75,000
326                                            200
327                                          1,200
328                                         14,500
329                                         40,000
330                                        125,000
331                                          2,255
332                                         10,000
333                                          2,000
334                                          2,500
335                                          2,500
336                                          1,450
337                                          1,100
338                                         25,000
339                                         11,000
340                                         12,000
341                                            200
342                                            800
343                                         30,000
344                                            950
345                                        170,000
346                                          8,700
347                                         25,000
348                                         45,000
349                                          5,500
350                                         25,000
351                                         16,495
352                                          1,000
353                                         14,800
354     his work is part of a limited edition set.
355                                         17,895
356                                          5,700
357                                          8,500
358                                          6,150
359                                            640
360                                         72,000
361                                          5,000
362                                          7,500
363                                         22,500
364                                          5,600
365                                          1,300
366                                         17,500
367                                          2,100
368                                          1,850
369                                          6,500
370                                          4,495
371     his work is part of a limited edition set.
372                                          7,000
373                                          4,000
374                                          2,500
375                                            120
376                                          2,800
377                                         10,500
378                                         12,000
379                                            110
380                                         25,000
381                                        185,000
382                                         10,000
383                                         17,500
384                                          1,300
385                                          3,800
386                                            750
387                                         12,500
388                                          4,295
389                                          8,500
390                                          3,500
391                                         18,000
392                                            950
393                                          1,950

In [184]:
# remove all commas from the prices
artsy_listings['price'] = artsy_listings['price'].replace(',','', regex=True)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(artsy_listings['price'])

0                                            55000
1                                             3500
2                                             2000
3                                             6500
5                                             1250
6                                            15000
7                                             1800
8                                              700
9                                             8000
10                                           11000
11                                            2000
12                                            1000
13                                            3650
14                                            4500
15                                            3200
17                                            2200
18                                             800
19                                           80000
20                                            4500
21                                            3495
22                                             800
23                                             800
24                                             695
25                                            3500
26                                            1800
27                                            3900
28                                          120000
29                                            2000
30                                           16000
31                                             250
32                                            1900
33                                            1000
34                                            2400
35                                           18000
36                                            6500
37                                           23000
38                                             390
39                                           22000
40                                             250
41                                           13000
42                                            1500
43                                           50000
44                                           12900
45                                            1725
46                                            3200
47                                            1650
48                                            6000
49                                            5500
50                                           22500
51                                           45000
52                                           20000
53                                             200
54                                           10320
55                                           31250
56                                             580
57                                            1000
58                                             800
59                                           17000
60                                            1300
61                                            2000
62                                            1200
63                                           19895
64                                             900
65                                            6000
66                                            3500
67                                            2500
68                                            5500
69                                             110
70                                            2750
71                                             750
72                                            3200
73                                           17500
74                                            4100
75                                           20000
76                                            3000
77                                            3300
78                                            4495
79                                            2895
80                                            2800
81                                           18000
82                                            7500
83                                            2250
84                                           18000
85                           his is a unique work.
86                                             180
87                                            5500
88                                            4000
89                                           30000
90                                             110
91                                            3600
92                                            5500
93                                           16500
94                                             495
95                                            1000
96                                            6000
97                                           16000
98                                            7000
99                                           89000
100                                            850
101                                           6000
102                                             95
103                                           1800
104                                          14400
105                                            450
106                                           3300
107                                           3900
108                                           6495
109                                          20000
110                                          48000
111                                           2400
112                                          15500
113                                            400
114                                          20000
115                                          11000
116                          his is a unique work.
117                                           1600
118                                          55000
119                                           6000
120                                           1800
121                                           1000
122                                           7500
123                                           1600
124                          his is a unique work.
125                                          15700
126                                          16500
127                                           4500
128                                          13895
129                                            250
130                                          15500
131                                          14500
132                                           4500
133                                           4500
134                                          16000
135                                           6500
136                                           3895
137                                         800000
138                                           4500
139                                          85000
140                                           6200
141                                            150
142                                          17895
143                                           2500
144                                           5500
145                                           1800
146                                           3400
147                                           4000
148                                           3000
149                                            400
150                                           7500
151                                          12900
152                                          21000
153                                           2500
154                                           4000
155                                           7950
156                                          50000
157                                           3500
158                                           2900
159                                          10350
160                                            450
161                                           3500
162                                           9000
163                                           7800
164                                           1200
165                                           2800
166                                           3375
167                                          19500
168                                            250
169                                          25000
170                                          12500
171                                           4495
172                                            750
173                                           1500
174                                           3100
175                                           3800
176                                             95
177                                          18000
178                                          28000
179     his work is part of a limited edition set.
180                                          16000
181                                           3900
182                                            250
183                                           2500
184                                           3000
185                                            950
186                                            200
187                                           5500
188                                            475
189                                           2500
190                                           9200
191                                           1200
192                                           2500
193                                           8100
194                                           1500
195                                           1250
196                                         200000
197     his work is part of a limited edition set.
198                                           9000
199                                           7000
200                                           2400
201                                           8000
202                                           2200
203                                           3895
204                                            250
205                                           9750
206                                          50000
207                                            395
208                                           1950
209                                           1900
210                                           4950
211                                           6000
212                                           4300
213                                           2800
214                                           7500
215                                            800
216                                           4400
217                                            370
218                                          26000
219                                           8000
220                                          36000
221                                          80000
222                          his is a unique work.
223                                          24500
224                                           2600
225                                           6600
226                                           2500
227                                          17000
228                                           2900
229                                            250
230                                           1200
231                                          35000
232                                           2000
233                                           6500
234                                           1895
235                                            750
236                                           1600
237                                          10000
238                                           3750
239                                           2000
240                                           5500
241                                           3600
242                                           2500
243                                            800
244                                           2500
245                                           1800
246                                          25000
247                                            230
248                                           3600
249                                           1400
250                                            375
251                                           2800
252                                           2750
253                                           1550
254                                           2900
255                                           3570
256                                           2500
257                                          26250
258                                            400
259                                          14000
260                                           3850
261                                          14000
262                                           3250
263                                         200000
264                                           1330
265                                          20000
266                                           2200
267     his work is part of a limited edition set.
268     his work is part of a limited edition set.
269                                            840
270                                          95000
271                                            250
272                                         195000
273                                          14500
274                                           1950
275                                          34000
276                                           3400
277                                           4900
278                                           4500
279                                           2600
280                                           1500
281                                           5200
282                                          11000
283                                           2995
284                                            100
285                                           9295
286                                          15000
287                                           5200
288                                           7000
289                                          10300
290     his work is part of a limited edition set.
291                                          18900
292                                           2500
293                                           1300
294                                            800
295                                          14500
296                                           1500
297                                            990
298                                          13800
299                                           5000
300                                           3500
301                                          19950
302                                            200
303                                          21000
304                                           7500
305                                           3000
306                                           7950
307                                          29000
308                                            250
309                                           2700
310                          his is a unique work.
311                                           5000
312                                           3500
313                                           2895
314                                          70000
315                                          13000
316                                           7450
317                                           5500
318                          his is a unique work.
319                                           3400
320                                         175000
321                                           2320
322                                           1800
323                                           1200
324                                          15500
325                                          75000
326                                            200
327                                           1200
328                                          14500
329                                          40000
330                                         125000
331                                           2255
332                                          10000
333                                           2000
334                                           2500
335                                           2500
336                                           1450
337                                           1100
338                                          25000
339                                          11000
340                                          12000
341                                            200
342                                            800
343                                          30000
344                                            950
345                                         170000
346                                           8700
347                                          25000
348                                          45000
349                                           5500
350                                          25000
351                                          16495
352                                           1000
353                                          14800
354     his work is part of a limited edition set.
355                                          17895
356                                           5700
357                                           8500
358                                           6150
359                                            640
360                                          72000
361                                           5000
362                                           7500
363                                          22500
364                                           5600
365                                           1300
366                                          17500
367                                           2100
368                                           1850
369                                           6500
370                                           4495
371     his work is part of a limited edition set.
372                                           7000
373                                           4000
374                                           2500
375                                            120
376                                           2800
377                                          10500
378                                          12000
379                                            110
380                                          25000
381                                         185000
382                                          10000
383                                          17500
384                                           1300
385                                           3800
386                                            750
387                                          12500
388                                           4295
389                                           8500
390                                           3500
391                                          18000
392                                            950
393                                           1950

In [185]:
# convert all strings into numerics where possible, otherwise fill with NaNs
def convertNumeric(x):
    if type(x) == str:
        if x.isnumeric():
            x = float(x)
        else:
            x = np.NaN
    return x  

# change the price list to the updated values
artsy_listings['price'] = artsy_listings['price'].apply(lambda x: convertNumeric(x))

# take a look and do a summary
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(artsy_listings['price'])

artsy_listings['price'].describe()

0        55000.0
1         3500.0
2         2000.0
3         6500.0
5         1250.0
6        15000.0
7         1800.0
8          700.0
9         8000.0
10       11000.0
11        2000.0
12        1000.0
13        3650.0
14        4500.0
15        3200.0
17        2200.0
18         800.0
19       80000.0
20        4500.0
21        3495.0
22         800.0
23         800.0
24         695.0
25        3500.0
26        1800.0
27        3900.0
28      120000.0
29        2000.0
30       16000.0
31         250.0
32        1900.0
33        1000.0
34        2400.0
35       18000.0
36        6500.0
37       23000.0
38         390.0
39       22000.0
40         250.0
41       13000.0
42        1500.0
43       50000.0
44       12900.0
45        1725.0
46        3200.0
47        1650.0
48        6000.0
49        5500.0
50       22500.0
51       45000.0
52       20000.0
53         200.0
54       10320.0
55       31250.0
56         580.0
57        1000.0
58         800.0
59       17000.0
60        1300.0
61        2000.0
62        1200.0
63       19895.0
64         900.0
65        6000.0
66        3500.0
67        2500.0
68        5500.0
69         110.0
70        2750.0
71         750.0
72        3200.0
73       17500.0
74        4100.0
75       20000.0
76        3000.0
77        3300.0
78        4495.0
79        2895.0
80        2800.0
81       18000.0
82        7500.0
83        2250.0
84       18000.0
85           NaN
86         180.0
87        5500.0
88        4000.0
89       30000.0
90         110.0
91        3600.0
92        5500.0
93       16500.0
94         495.0
95        1000.0
96        6000.0
97       16000.0
98        7000.0
99       89000.0
100        850.0
101       6000.0
102         95.0
103       1800.0
104      14400.0
105        450.0
106       3300.0
107       3900.0
108       6495.0
109      20000.0
110      48000.0
111       2400.0
112      15500.0
113        400.0
114      20000.0
115      11000.0
116          NaN
117       1600.0
118      55000.0
119       6000.0
120       1800.0
121       1000.0
122       7500.0
123       1600.0
124          NaN
125      15700.0
126      16500.0
127       4500.0
128      13895.0
129        250.0
130      15500.0
131      14500.0
132       4500.0
133       4500.0
134      16000.0
135       6500.0
136       3895.0
137     800000.0
138       4500.0
139      85000.0
140       6200.0
141        150.0
142      17895.0
143       2500.0
144       5500.0
145       1800.0
146       3400.0
147       4000.0
148       3000.0
149        400.0
150       7500.0
151      12900.0
152      21000.0
153       2500.0
154       4000.0
155       7950.0
156      50000.0
157       3500.0
158       2900.0
159      10350.0
160        450.0
161       3500.0
162       9000.0
163       7800.0
164       1200.0
165       2800.0
166       3375.0
167      19500.0
168        250.0
169      25000.0
170      12500.0
171       4495.0
172        750.0
173       1500.0
174       3100.0
175       3800.0
176         95.0
177      18000.0
178      28000.0
179          NaN
180      16000.0
181       3900.0
182        250.0
183       2500.0
184       3000.0
185        950.0
186        200.0
187       5500.0
188        475.0
189       2500.0
190       9200.0
191       1200.0
192       2500.0
193       8100.0
194       1500.0
195       1250.0
196     200000.0
197          NaN
198       9000.0
199       7000.0
200       2400.0
201       8000.0
202       2200.0
203       3895.0
204        250.0
205       9750.0
206      50000.0
207        395.0
208       1950.0
209       1900.0
210       4950.0
211       6000.0
212       4300.0
213       2800.0
214       7500.0
215        800.0
216       4400.0
217        370.0
218      26000.0
219       8000.0
220      36000.0
221      80000.0
222          NaN
223      24500.0
224       2600.0
225       6600.0
226       2500.0
227      17000.0
228       2900.0
229        250.0
230       1200.0
231      35000.0
232       2000.0
233       6500.0
234       1895.0
235        750.0
236       1600.0
237      10000.0
238       3750.0
239       2000.0
240       5500.0
241       3600.0
242       2500.0
243        800.0
244       2500.0
245       1800.0
246      25000.0
247        230.0
248       3600.0
249       1400.0
250        375.0
251       2800.0
252       2750.0
253       1550.0
254       2900.0
255       3570.0
256       2500.0
257      26250.0
258        400.0
259      14000.0
260       3850.0
261      14000.0
262       3250.0
263     200000.0
264       1330.0
265      20000.0
266       2200.0
267          NaN
268          NaN
269        840.0
270      95000.0
271        250.0
272     195000.0
273      14500.0
274       1950.0
275      34000.0
276       3400.0
277       4900.0
278       4500.0
279       2600.0
280       1500.0
281       5200.0
282      11000.0
283       2995.0
284        100.0
285       9295.0
286      15000.0
287       5200.0
288       7000.0
289      10300.0
290          NaN
291      18900.0
292       2500.0
293       1300.0
294        800.0
295      14500.0
296       1500.0
297        990.0
298      13800.0
299       5000.0
300       3500.0
301      19950.0
302        200.0
303      21000.0
304       7500.0
305       3000.0
306       7950.0
307      29000.0
308        250.0
309       2700.0
310          NaN
311       5000.0
312       3500.0
313       2895.0
314      70000.0
315      13000.0
316       7450.0
317       5500.0
318          NaN
319       3400.0
320     175000.0
321       2320.0
322       1800.0
323       1200.0
324      15500.0
325      75000.0
326        200.0
327       1200.0
328      14500.0
329      40000.0
330     125000.0
331       2255.0
332      10000.0
333       2000.0
334       2500.0
335       2500.0
336       1450.0
337       1100.0
338      25000.0
339      11000.0
340      12000.0
341        200.0
342        800.0
343      30000.0
344        950.0
345     170000.0
346       8700.0
347      25000.0
348      45000.0
349       5500.0
350      25000.0
351      16495.0
352       1000.0
353      14800.0
354          NaN
355      17895.0
356       5700.0
357       8500.0
358       6150.0
359        640.0
360      72000.0
361       5000.0
362       7500.0
363      22500.0
364       5600.0
365       1300.0
366      17500.0
367       2100.0
368       1850.0
369       6500.0
370       4495.0
371          NaN
372       7000.0
373       4000.0
374       2500.0
375        120.0
376       2800.0
377      10500.0
378      12000.0
379        110.0
380      25000.0
381     185000.0
382      10000.0
383      17500.0
384       1300.0
385       3800.0
386        750.0
387      12500.0
388       4295.0
389       8500.0
390       3500.0
391      18000.0
392        950.0
393       1950.0
394       5495.0
395      10895.0
396      14895.0
397       2700.0
398       8000.0
399      16000.0
400      27000.0
401       4000.0
402      55000.0
403       2400.0
404       2300.0
405       2500.0
406      95000.0
407      15200.0
408       3850.0
409       2600.0
410      12000.0
411        800.0
412          NaN
413      49000.0
414       5000.0
415      15000.0
416        495.0
417       7500.0
418      15000.0
419       3950.0
420       2000.0
421        990.0
422        250.0
423       9000.0
424       4500.0
425     125000.0
426     135000.0
427        300.0
428       2200.0
429      24000.0
430     350000.0
431      28895.0
432       2500.0
433      12200.0
434      30000.0
435       2200.0
436       3000.0
437      18500.0
438       5500.0
439       3500.0
440       2400.0
441       4500.0
442     100000.0
443      40000.0
444       1800.0
445      11000.0
446       3600.0
447        185.0
448      28000.0
449        400.0
450       3895.0
451       7500.0
452       5800.0
453       2895.0
454       2600.0
455      12000.0
456       8000.0
457      55000.0
458          NaN
459          NaN
460          NaN
461        590.0
462          NaN
463      85000.0
464       7600.0
465       1400.0
466       4695.0
467        600.0
468        400.0
469      76000.0
470      13895.0
471       6500.0
472      17800.0
473        400.0
474      85000.0
475      36000.0
476      18000.0
477      22500.0
478       2000.0
479       2650.0
480      10895.0
481       1000.0
482        600.0
483       3200.0
484       2500.0
485       1085.0
486       1500.0
487          NaN
488       6000.0
489       6500.0
490       3150.0
491      15000.0
492       1750.0
493      45000.0
494       6500.0
495       2295.0
496       2500.0
497       5500.0
498      24000.0
499          NaN
500       2000.0
501       1500.0
502       1100.0
503      14895.0
504      30000.0
505        240.0
506       7000.0
507       2500.0
508       6375.0
509      11500.0
510      14000.0
511        650.0
512       2000.0
513      14000.0
514       5000.0
515       2800.0
516       6500.0
517       4500.0
518       4500.0
519       2800.0
520       5500.0
521       2000.0
522       5100.0
523       3500.0
524        650.0
525      10000.0
526       2500.0
527          NaN
528      11000.0
529          NaN
530       5000.0
531       2600.0
532      30000.0
533      10000.0
534        690.0
535          NaN
536        950.0
537      29000.0
538      10000.0
539        225.0
540       2420.0
541       6300.0
542       4500.0
543      21500.0
544       1000.0
545        800.0
546       2895.0
547      10000.0
548      16000.0
549        175.0
550       3500.0
551      11500.0
552       9000.0
553      27500.0
554       2000.0
555        750.0
556       4500.0
557      26000.0
558        850.0
559        350.0
560       2400.0
561       1600.0
562       2900.0
563          NaN
564      12000.0
565       6000.0
566      22000.0
567          NaN
568          NaN
569       1395.0
570        350.0
571      24000.0
572       2500.0
573       8995.0
574       3200.0
575        225.0
576          NaN
577        800.0
578       7800.0
579       4500.0
580       4200.0
581       5500.0
582      13500.0
583       3000.0
584       4300.0
585       1500.0
586       1155.0
587       3300.0
588       4200.0
589       3500.0
590          NaN
591       1500.0
592      10495.0
593      20000.0
594          NaN
595          NaN
596        690.0
597          NaN
598      19950.0
599          NaN
600      14495.0
601     105000.0
602          NaN
603       5395.0
604          NaN
605      12000.0
606        110.0
607       3000.0
608       6000.0
609        450.0
610       3720.0
611       2500.0
612      26000.0
613       4900.0
614       1200.0
615       4800.0
616       3300.0
617       1400.0
618        400.0
619       5500.0
620      12000.0
621          NaN
622       2500.0
623       5400.0
624       1950.0
625      22000.0
626        400.0
627       2500.0
628        950.0
629       2500.0
630       4500.0
631      85000.0
632       4500.0
633        750.0
634      36500.0
635       4100.0
636        900.0
637       6350.0
638        800.0
639       1350.0
640       7000.0
641        800.0
642      36000.0
643      35000.0
644      10780.0
645     120000.0
646      14400.0
647      19990.0
648      23000.0
649        360.0
650       3600.0
651       3500.0
652       2500.0
653       1895.0
654        110.0
655      26000.0
656        500.0
657       2695.0
658      24000.0
659       1950.0
660      15500.0
661          NaN
662      10000.0
663      39000.0
664       3500.0
665      60000.0
666      35000.0
667          NaN
668       6000.0
669      25000.0
670        695.0
671       9500.0
672      17500.0
673       3495.0
674        125.0
675       6500.0
676       3000.0
677       5400.0
678       2040.0
679      15000.0
680     145000.0
681       3750.0
682      75000.0
683        390.0
684      15000.0
685       1250.0
686          NaN
687       1300.0
688          NaN
689      37000.0
690       3895.0
691       8000.0
692       2500.0
693      45000.0
694       7495.0
695      16000.0
696        250.0
697      38000.0
698        500.0
699       2750.0
700          NaN
701       1600.0
702          NaN
703       9495.0
704          NaN
705       2600.0
706          NaN
707        260.0
708       4200.0
709       2150.0
710        695.0
711          NaN
712      38000.0
713       1900.0
714       3750.0
715          NaN
716       1500.0
717      12000.0
718       2000.0
719        950.0
720      16000.0
721     100000.0
722        250.0
723      14895.0
724        110.0
725       3895.0
726       1200.0
727      35000.0
728       2500.0
729       4495.0
730        720.0
731      40000.0
732       3600.0
733       4800.0
734      10000.0
735        120.0
736       8700.0
737        220.0
738      10500.0
739      14900.0
740         85.0
741        800.0
742       9600.0
743        375.0
744      27000.0
745       1300.0
746       1295.0
747       8000.0
748       1100.0
749        900.0
750       6500.0
751        400.0
752       1800.0
753       8000.0
754       2500.0
755        500.0
756       3495.0
757       5600.0
758        750.0
759       1700.0
760       2500.0
761        350.0
762      28000.0
763          NaN
764      16000.0
765       5000.0
766          NaN
767       8000.0
768      15000.0
769       2200.0
770       9495.0
771       3200.0
772        450.0
773      20000.0
774      18800.0
775       9500.0
776       3500.0
777       2500.0
778       5500.0
779       9000.0
780       9000.0
781      28000.0
782        295.0
783      15000.0
784       8000.0
785      38500.0
786       1500.0
787       3450.0
788      25500.0
789      40000.0
790      18000.0
791      13000.0
792     150000.0
793       3600.0
794       5500.0
795      39000.0
796      14950.0
797       2100.0
798      30000.0
799       6800.0
800       6000.0
801          NaN
802       2800.0
803       8000.0
804      15000.0
805       3800.0
806       3500.0
807      38500.0
808       6000.0
809       4500.0
810       3000.0
811       7500.0
812       3000.0
813       1500.0
814          NaN
815       2000.0
816          NaN
817          NaN
818       2500.0
819       4000.0
820          NaN
821      96000.0
822          NaN
823          NaN
824       3000.0
825       7000.0
826       5400.0
827       6095.0
828      13750.0
829       2700.0
830        950.0
831     800000.0
832          NaN
833      59625.0
834          NaN
835       8500.0
836      28000.0
837       5500.0
838          NaN
839      35000.0
840      45000.0
841          NaN
842          NaN
843       7500.0
844      10500.0
845      20000.0
846          NaN
847      30000.0
848      72000.0
849       1850.0
850      45000.0
851       2500.0
852       3750.0
853      19950.0
854      15000.0
855      24000.0
856      15000.0
857       1500.0
858      13895.0
859       1500.0
860      13750.0
861      20000.0
862      19995.0
863          NaN
864        700.0
865     199000.0
866        690.0
867          NaN
868          NaN
869      35000.0
870        450.0
871       4895.0
872       2800.0
873      19500.0
874       1895.0
875       2800.0
876      45000.0
877       4400.0
878       7800.0
879       3295.0
880       3500.0
881        200.0
882          NaN
883      14000.0
884        300.0
885          NaN
886          NaN
887       3000.0
888          NaN
889          NaN
890       4000.0
891       6000.0
892      23200.0
893        250.0
894        800.0
895      20000.0
896          NaN
897      15000.0
898          NaN
899       2400.0
900        200.0
901      35000.0
902       6000.0
903          NaN
904       4200.0
905       6000.0
906          NaN
907       3720.0
908      15000.0
909          NaN
910          NaN
911       1450.0
912      55000.0
913       1800.0
914       7500.0
915       3000.0
916       3000.0
917       5800.0
918       4000.0
919          NaN
920          NaN
921       7500.0
922       9500.0
923       3000.0
924      18000.0
925          NaN
926      85000.0
927      45000.0
928      14000.0
929       2500.0
930          NaN
931       8000.0
932          NaN
933       3500.0
934          NaN
935       3500.0
936       2900.0
937       1000.0
938      11000.0
939          NaN
940       1200.0
941        600.0
942       9895.0
943        695.0
944          NaN
945       3000.0
946       6800.0
947       1050.0
948       8950.0
949       1900.0
950      19500.0
951       4895.0
952      33000.0
953          NaN
954      10000.0
955       7500.0
956       3000.0
957      30000.0
958        950.0
959       3500.0
960        800.0
961          NaN
962       1300.0
963      50000.0
964       3000.0
965       9500.0
966       5500.0
967      50000.0
968       5000.0
969       4800.0
970      11500.0
971       1100.0
972       8500.0
973      12900.0
974      45000.0
975      60000.0
976       4895.0
977          NaN
978      29750.0
979       1200.0
980       8500.0
981       3500.0
982      12500.0
983       3500.0
984          NaN
985          NaN
986       4100.0
987       9295.0
988       1400.0
989       6200.0
990       2320.0
991      46895.0
992          NaN
993          NaN
994       1050.0
995       3350.0
996       1295.0
997        980.0
998       5000.0
999      25000.0
1000     14500.0
1001      6000.0
1002         NaN
1003      3495.0
1004     40000.0
1005     11500.0
1006         NaN
1007     18000.0
1008     12895.0
1009     33000.0
1010     16000.0
1011       200.0
1012     11300.0
1013     98000.0
1014      3500.0
1015      4000.0
1016      3000.0
1017     10500.0
1018         NaN
1019      3300.0
1020      8000.0
1021      3950.0
1022      1500.0
1023     35000.0
1024       125.0
1025      3000.0
1026        50.0
1027    165000.0
1028         NaN
1029      4500.0
1030     15000.0
1031      7500.0
1032       950.0
1033         NaN
1034    120000.0
1035      1895.0
1036         NaN
1037      7500.0
1038     20000.0
1039      4250.0
1040      4900.0
1041      7000.0
1042     32000.0
1043     13895.0
1044      2500.0
1045      3800.0
1046      6000.0
1047     14000.0
1048      4500.0
1049         NaN
1050      8000.0
1051      1500.0
1052     10000.0
1053     21950.0
1054         NaN
1055       300.0
1056       185.0
1057      1300.0
1058      1500.0
1059     11980.0
1060     30000.0
1061         NaN
1062     15000.0
1063      9000.0
1064      2400.0
1065     10000.0
1066      6000.0
1067     14000.0
1068      3500.0
1069         NaN
1070      5160.0
1071     27000.0
1072     11000.0
1073         NaN
1074     16000.0
1075     20000.0
1076       550.0
1077      3200.0
1078       400.0
1079      5600.0
1080     12000.0
1081      3750.0
1082     24000.0
1083      1500.0
1084      6500.0
1085         NaN
1086      7495.0
1087      7000.0
1088       950.0
1089      7000.0
1090     15000.0
1091       300.0
1092         NaN
1093      6000.0
1094       340.0
1095         NaN
1096         NaN
1097         NaN
1098         NaN
1099      3350.0
1100      8000.0
1101      4500.0
1102      3000.0
1103         NaN
1104       800.0
1105      6895.0
1106     11000.0
1107     50000.0
1108      1900.0
1109     20000.0
1110      7000.0
1111       325.0
1112     19500.0
1113         NaN
1114       654.0
1115      6000.0
1116         NaN
1117      1000.0
1118     20000.0
1119      4600.0
1120      1795.0
1121     24000.0
1122     13000.0
1123     12400.0
1124      3800.0
1125      4450.0
1126      3200.0
1127     29500.0
1128     13900.0
1129     18950.0
1130     90000.0
1131     12000.0
1132     20000.0
1133         NaN
1134     12500.0
1135     45000.0
1136      4200.0
1137     13200.0
1138      2500.0
1139         NaN
1140         NaN
1141      3000.0
1142      3000.0
1143     12000.0
1144      5400.0
1145      6500.0
1146      6400.0
1147         NaN
1148       600.0
1149         NaN
1150     26400.0
1151       950.0
1152       500.0
1153      6500.0
1154         NaN
1155     12500.0
1156     22000.0
1157     18000.0
1158      2000.0
1159     16500.0
1160     68120.0
1161      6000.0
1162     24000.0
1163      2400.0
1164       800.0
1165     55000.0
1166      3000.0
1167      1800.0
1168     23200.0
1169      8895.0
1170       950.0
1171         NaN
1172      3850.0
1173         NaN
1174      9995.0
1175     20000.0
1176      2400.0
1177      5895.0

count      2513.000000
mean      14264.425388
std       45704.491797
min          32.000000
25%        2000.000000
50%        4750.000000
75%       12500.000000
max      850000.000000
Name: price, dtype: float64

Now we take a look at currency so we can standardise all these prices into GBP at today's market rate.

In [186]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(artsy_listings[['currency', 'price', 'gallery', 'gallery_location']])

     currency     price                                            gallery  \
0           $   55000.0                              Corridor Contemporary
1           €    3500.0                                         Make offer
2           €    2000.0                                          Artistics
3           $    6500.0                                       Gallery 1261
5           $    1250.0                                    Signari Gallery
6           $   15000.0                                        Los Angeles
7           $    1800.0                                       Gallery 1261
8           $     700.0                                     Bakker Gallery
9           €    8000.0                                         Make offer
10          $   11000.0                          Luis De Jesus Los Angeles
11          $    2000.0                                           New York
12          $    1000.0                                       Gallery 1261
13          $    3650.0                                Los Angeles, Zürich
14          $    4500.0                                       Gallery 1261
15          €    3200.0                                         Make offer
17          $    2200.0                             Barba Contemporary Art
18          $     800.0                               Susanna Gold Gallery
19          $   80000.0                                         Make offer
20          $    4500.0                                         Make offer
21          £    3495.0                                George Thornton Art
22          €     800.0                                         Make offer
23          €     800.0                                         Make offer
24          €     695.0                                         Make offer
25          €    3500.0                                         Make offer
26          $    1800.0                                       Gallery 1261
27          $    3900.0                         Art of Nature Contemporary
28          $  120000.0                                    HG Contemporary
29          $    2000.0                                              MIAMI
30          $   16000.0                                           New York
31          $     250.0                                       Petion-Ville
32          $    1900.0                                Los Angeles, Zürich
33          $    1000.0                                         Make offer
34          $    2400.0                                       Gallery 1261
35          $   18000.0                                           New York
36          $    6500.0                                      San Francisco
37          $   23000.0                                    Madison Gallery
38          €     390.0                                         Make offer
39          $   22000.0                              JoAnne Artman Gallery
40          £     250.0                                         Make offer
41          €   13000.0                                         Make offer
42          $    1500.0                                      San Francisco
43          €   50000.0                                         Make offer
44          €   12900.0                                         Make offer
45          $    1725.0                                Susan Eley Fine Art
46          $    3200.0                                            HOUSING
47          $    1650.0                                          New Haven
48          $    6000.0                                Red Fox Art Gallery
49          $    5500.0                                           ARTI.NYC
50          £   22500.0                                         Make offer
51          €   45000.0                                         Make offer
52          $   20000.0                                           New York
53          $     200.0                                        Los Angeles
54          $   10320.0                              La Galerie Paris 1839
55          $   31250.0                          West Chelsea Contemporary
56          €     580.0                                         Make offer
57          $    1000.0                                         Make offer
58          €     800.0                                         Make offer
59          $   17000.0                              JoAnne Artman Gallery
60          $    1300.0                                   BAM Art Advisory
61          $    2000.0                                           New York
62          £    1200.0                                       Reem Gallery
63          $   19895.0                                Original Art Broker
64          $     900.0                                      Abend Gallery
65          $    6000.0                                       Gallery 1261
66          $    3500.0                                           New York
67          $    2500.0                                           QART.COM
68          $    5500.0                                           Franklin
69          $     110.0                                          Pawtucket
70          $    2750.0                                        Los Angeles
71          $     750.0                             Barba Contemporary Art
72          $    3200.0                                Susan Eley Fine Art
73          $   17500.0                          West Chelsea Contemporary
74          $    4100.0                                Susan Eley Fine Art
75          $   20000.0                                           New York
76          $    3000.0                                        Los Angeles
77          €    3300.0                                         Make offer
78          $    4495.0                                Original Art Broker
79          $    2895.0                                Original Art Broker
80          €    2800.0                                         Make offer
81          $   18000.0                                           New York
82          $    7500.0                                      San Francisco
83          $    2250.0                            David Leonardis Gallery
84          $   18000.0                        West Hollywood, Los Angeles
85          T       NaN                                            Buy now
86          €     180.0                                         Make offer
87          $    5500.0                                            Belhaus
88          $    4000.0                                        Pen Project
89          $   30000.0                                     Mortal Machine
90          $     110.0                                      Gallery Sitka
91          €    3600.0                                         Make offer
92          £    5500.0                                         Make offer
93          $   16500.0                                    Modern Artifact
94          $     495.0          Newport Beach, Los Angeles , Palm Springs
95          $    1000.0                                         Make offer
96          $    6000.0                                           New York
97          $   16000.0                                       Gallery 1261
98          £    7000.0                                         Make offer
99          $   89000.0                                        Aux Gallery
100         €     850.0                                         Make offer
101         €    6000.0                                         Make offer
102         $      95.0                                          Pawtucket
103         $    1800.0                                           QART.COM
104         €   14400.0                                         Make offer
105         $     450.0                                       Philadelphia
106         €    3300.0                                         Make offer
107         $    3900.0                         Art of Nature Contemporary
108         $    6495.0                                Original Art Broker
109         $   20000.0                  Edward Cella Art and Architecture
110         $   48000.0                              Corridor Contemporary
111         $    2400.0                                Los Angeles, Zürich
112         $   15500.0                              La Galerie Paris 1839
113         $     400.0                                Los Angeles, Zürich
114         $   20000.0                                           New York
115         €   11000.0                                       Dellupi Arte
116         T       NaN                                         Make offer
117         €    1600.0                                         Make offer
118         $   55000.0                              Corridor Contemporary
119         $    6000.0     Philip Douglas Fine Art + Garvey Rita Fine Art
120         $    1800.0                             The Art Design Project
121         $    1000.0                                 Brooklyn, New York
122         $    7500.0                                          New Haven
123         €    1600.0                                         Make offer
124         T       NaN                                            Buy now
125         €   15700.0                                      Kubik Gallery
126         $   16500.0                                    Modern Artifact
127         $    4500.0                                           New York
128         $   13895.0                                Original Art Broker
129         €     250.0                        Certificate of authenticity
130         $   15500.0                        West Hollywood, Los Angeles
131         $   14500.0                                           Caviar20
132         $    4500.0                                            Chicago
133         $    4500.0                                            Chicago
134         $   16000.0                                       Gallery 1261
135         $    6500.0                         Art of Nature Contemporary
136         $    3895.0                                Original Art Broker
137         €  800000.0                                         Make offer
138         $    4500.0                                         Make offer
139         $   85000.0                                        Gallery Art
140         €    6200.0                                         Make offer
141         $     150.0                                      Gallery Sitka
142         $   17895.0                                Original Art Broker
143         $    2500.0                                        Los Angeles
144         $    5500.0                                           ARTI.NYC
145         $    1800.0                                           QART.COM
146         $    3400.0                                       Gallery 1261
147         $    4000.0                                   Long Island City
148         $    3000.0                                       Gallery 1261
149         £     400.0                                         Make offer
150         $    7500.0                                           Franklin
151         €   12900.0                                         Make offer
152         $   21000.0                              JoAnne Artman Gallery
153         $    2500.0                                         Make offer
154         €    4000.0                                         Make offer
155         £    7950.0                                         Make offer
156         $   50000.0                                         Burlingame
157         $    3500.0                               Ellen Miller Gallery
158         €    2900.0                                         Make offer
159         $   10350.0                                Susan Eley Fine Art
160         $     450.0                                Los Angeles, Zürich
161         €    3500.0                                         Make offer
162         $    9000.0                                         Make offer
163         $    7800.0                                   DECORAZONgallery
164         €    1200.0                                         Make offer
165         £    2800.0                                         Make offer
166         $    3375.0                                        Gallery Art
167         $   19500.0                                    Modern Artifact
168         €     250.0                        Certificate of authenticity
169         €   25000.0                                       Dellupi Arte
170         $   12500.0                                       EHC Fine Art
171         $    4495.0                                Original Art Broker
172         $     750.0                                Los Angeles, Zürich
173         $    1500.0                                      Abend Gallery
174         $    3100.0                             Hashimoto Contemporary
175         €    3800.0                             Hamburger Kunstgalerie
176         $      95.0                                          Pawtucket
177         €   18000.0                                         Make offer
178         $   28000.0                              JoAnne Artman Gallery
179         T       NaN                                            Buy now
180         $   16000.0                  Edward Cella Art and Architecture
181         €    3900.0                                Juffermans Fine Art
182         $     250.0                                          Pawtucket
183         $    2500.0                            David Leonardis Gallery
184         $    3000.0                                     Mortal Machine
185         $     950.0                                Los Angeles, Zürich
186         $     200.0                                      Gallery Sitka
187         $    5500.0                                  Alpha 137 Gallery
188         $     475.0                                    IAZ Art Gallery
189         $    2500.0                        Certificate of authenticity
190         $    9200.0                  Denver, Miami Beach , Los Angeles
191         $    1200.0                                     Objets Trouvés
192         $    2500.0                                         Make offer
193         €    8100.0                                         Make offer
194         $    1500.0                                           QART.COM
195         $    1250.0                                      San Francisco
196         €  200000.0                                    Dep Art Gallery
197         T       NaN                                         Make offer
198         $    9000.0                                   One Mile Gallery
199         $    7000.0                                  Alpha 137 Gallery
200         $    2400.0                        Certificate of authenticity
201         €    8000.0                                         Make offer
202         $    2200.0                             Barba Contemporary Art
203         $    3895.0                                Original Art Broker
204         €     250.0                                         Make offer
205         $    9750.0                             Barba Contemporary Art
206         €   50000.0                                         Make offer
207         $     395.0                                 Eisenhauer Gallery
208         $    1950.0                                Los Angeles, Zürich
209         $    1900.0                         Spencer Brownstone Gallery
210         £    4950.0                                         Make offer
211         $    6000.0                                       Gallery 1261
212         $    4300.0                                        Los Angeles
213         €    2800.0                                         Make offer
214         $    7500.0                        Certificate of authenticity
215         $     800.0                                Los Angeles, Zürich
216         $    4400.0                                Los Angeles, Zürich
217         €     370.0                                         Make offer
218         €   26000.0                                         Make offer
219         $    8000.0                                       Iris Project
220         £   36000.0                                         Make offer
221         $   80000.0                          Valia Garzón Art Services
222         T       NaN                                            Buy now
223         €   24500.0                                         Make offer
224         £    2600.0                              James Freeman Gallery
225         $    6600.0                            New York, Bridgehampton
226         $    2500.0                                           QART.COM
227         $   17000.0                  Edward Cella Art and Architecture
228         €    2900.0                                          Artistics
229         €     250.0                        Certificate of authenticity
230         $    1200.0                                           New York
231         $   35000.0                               Rudolf Budja Gallery
232         $    2000.0                                Los Angeles, Zürich
233         $    6500.0                                  Lawrence Fine Art
234         $    1895.0                                Original Art Broker
235         $     750.0                         San Antonio, New York City
236         $    1600.0                                   One Mile Gallery
237         $   10000.0                                Susan Eley Fine Art
238         €    3750.0                                Juffermans Fine Art
239         $    2000.0                                           New York
240         $    5500.0                                       Gallery 1261
241         €    3600.0                                         Make offer
242         $    2500.0                                      NUNU FINE ART
243         €     800.0                                         Make offer
244         €    2500.0                                         Make offer
245         $    1800.0                                           QART.COM
246         £   25000.0                                         Make offer
247         £     230.0                                         Make offer
248         €    3600.0                                         Make offer
249         $    1400.0                           Graves International Art
250         $     375.0                                Los Angeles, Zürich
251         $    2800.0                                        Gallery Art
252         $    2750.0                                        Los Angeles
253         €    1550.0                                         Make offer
254         €    2900.0                                         Make offer
255         $    3570.0                                       Gallery 1261
256         $    2500.0                                        Los Angeles
257         $   26250.0                                        Gallery Art
258         £     400.0                                         Make offer
259         $   14000.0                                    Madison Gallery
260         $    3850.0                                Los Angeles, Zürich
261         $   14000.0                        ÆRENA Galleries and Gardens
262         £    3250.0                                         Make offer
263         $  200000.0                            David Benrimon Fine Art
264         €    1330.0                                         Make offer
265         £   20000.0                                         Make offer
266         $    2200.0                                Los Angeles, Zürich

So we've got a few cases here:

1. Most artwork prices are in USD ($), GBP (£), or EUR (€).
2. We've got two other characters occasionally - "T" and "E" - which mark instances where the information about price was either not available or not in the standard price section. We will exclude these entries.
3. NaN entries - to be excluded.

In [187]:
# What are the rates for USD > GBP and EUR > GBP?
from currency_converter import CurrencyConverter
from datetime import date
c = CurrencyConverter()

# choose a date around when the data was collected
# default is the most recent rate available, but more recent dates in May 2021 are not available yet
c.convert(100, 'EUR', 'GBP', date=date(2021,3,1))
c.convert(100, 'USD', 'GBP', date=date(2021,3,1))

def currencySignConvert(sign, price):
    if sign == "$":
        price_GBP = c.convert(price, 'USD', 'GBP')
    elif sign == "€":
        price_GBP = c.convert(price, 'EUR', 'GBP')
    elif sign == '£':
        price_GBP = price
    else:
        price_GBP = np.NaN

    return price_GBP


## apply function to every row of the dataframe
price_GBP = []
for index, row in artsy_listings.iterrows():
    # print(row['currency'])
    # print(row['price'])
    price_GBP.append(round(currencySignConvert(row['currency'], row['price']),2))
artsy_listings['price_GBP'] = price_GBP

# describe the data
artsy_listings['price_GBP'].describe()
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(artsy_listings[['currency', 'price', 'price_GBP']])

     currency     price  price_GBP
0           $   55000.0   39049.86
1           €    3500.0    3017.53
2           €    2000.0    1724.30
3           $    6500.0    4614.98
5           $    1250.0     887.50
6           $   15000.0   10649.96
7           $    1800.0    1278.00
8           $     700.0     497.00
9           €    8000.0    6897.20
10          $   11000.0    7809.97
11          $    2000.0    1420.00
12          $    1000.0     710.00
13          $    3650.0    2591.49
14          $    4500.0    3194.99
15          €    3200.0    2758.88
17          $    2200.0    1561.99
18          $     800.0     568.00
19          $   80000.0   56799.80
20          $    4500.0    3194.99
21          £    3495.0    3495.00
22          €     800.0     689.72
23          €     800.0     689.72
24          €     695.0     599.19
25          €    3500.0    3017.53
26          $    1800.0    1278.00
27          $    3900.0    2768.99
28          $  120000.0   85199.70
29          $    2000.0    1420.00
30          $   16000.0   11359.96
31          $     250.0     177.50
32          $    1900.0    1349.00
33          $    1000.0     710.00
34          $    2400.0    1703.99
35          $   18000.0   12779.96
36          $    6500.0    4614.98
37          $   23000.0   16329.94
38          €     390.0     336.24
39          $   22000.0   15619.95
40          £     250.0     250.00
41          €   13000.0   11207.95
42          $    1500.0    1065.00
43          €   50000.0   43107.50
44          €   12900.0   11121.73
45          $    1725.0    1224.75
46          $    3200.0    2271.99
47          $    1650.0    1171.50
48          $    6000.0    4259.99
49          $    5500.0    3904.99
50          £   22500.0   22500.00
51          €   45000.0   38796.75
52          $   20000.0   14199.95
53          $     200.0     142.00
54          $   10320.0    7327.17
55          $   31250.0   22187.42
56          €     580.0     500.05
57          $    1000.0     710.00
58          €     800.0     689.72
59          $   17000.0   12069.96
60          $    1300.0     923.00
61          $    2000.0    1420.00
62          £    1200.0    1200.00
63          $   19895.0   14125.40
64          $     900.0     639.00
65          $    6000.0    4259.99
66          $    3500.0    2484.99
67          $    2500.0    1774.99
68          $    5500.0    3904.99
69          $     110.0      78.10
70          $    2750.0    1952.49
71          $     750.0     532.50
72          $    3200.0    2271.99
73          $   17500.0   12424.96
74          $    4100.0    2910.99
75          $   20000.0   14199.95
76          $    3000.0    2129.99
77          €    3300.0    2845.09
78          $    4495.0    3191.44
79          $    2895.0    2055.44
80          €    2800.0    2414.02
81          $   18000.0   12779.96
82          $    7500.0    5324.98
83          $    2250.0    1597.49
84          $   18000.0   12779.96
85          T       NaN        NaN
86          €     180.0     155.19
87          $    5500.0    3904.99
88          $    4000.0    2839.99
89          $   30000.0   21299.93
90          $     110.0      78.10
91          €    3600.0    3103.74
92          £    5500.0    5500.00
93          $   16500.0   11714.96
94          $     495.0     351.45
95          $    1000.0     710.00
96          $    6000.0    4259.99
97          $   16000.0   11359.96
98          £    7000.0    7000.00
99          $   89000.0   63189.78
100         €     850.0     732.83
101         €    6000.0    5172.90
102         $      95.0      67.45
103         $    1800.0    1278.00
104         €   14400.0   12414.96
105         $     450.0     319.50
106         €    3300.0    2845.09
107         $    3900.0    2768.99
108         $    6495.0    4611.43
109         $   20000.0   14199.95
110         $   48000.0   34079.88
111         $    2400.0    1703.99
112         $   15500.0   11004.96
113         $     400.0     284.00
114         $   20000.0   14199.95
115         €   11000.0    9483.65
116         T       NaN        NaN
117         €    1600.0    1379.44
118         $   55000.0   39049.86
119         $    6000.0    4259.99
120         $    1800.0    1278.00
121         $    1000.0     710.00
122         $    7500.0    5324.98
123         €    1600.0    1379.44
124         T       NaN        NaN
125         €   15700.0   13535.75
126         $   16500.0   11714.96
127         $    4500.0    3194.99
128         $   13895.0    9865.42
129         €     250.0     215.54
130         $   15500.0   11004.96
131         $   14500.0   10294.96
132         $    4500.0    3194.99
133         $    4500.0    3194.99
134         $   16000.0   11359.96
135         $    6500.0    4614.98
136         $    3895.0    2765.44
137         €  800000.0  689720.00
138         $    4500.0    3194.99
139         $   85000.0   60349.79
140         €    6200.0    5345.33
141         $     150.0     106.50
142         $   17895.0   12705.41
143         $    2500.0    1774.99
144         $    5500.0    3904.99
145         $    1800.0    1278.00
146         $    3400.0    2413.99
147         $    4000.0    2839.99
148         $    3000.0    2129.99
149         £     400.0     400.00
150         $    7500.0    5324.98
151         €   12900.0   11121.73
152         $   21000.0   14909.95
153         $    2500.0    1774.99
154         €    4000.0    3448.60
155         £    7950.0    7950.00
156         $   50000.0   35499.88
157         $    3500.0    2484.99
158         €    2900.0    2500.24
159         $   10350.0    7348.47
160         $     450.0     319.50
161         €    3500.0    3017.53
162         $    9000.0    6389.98
163         $    7800.0    5537.98
164         €    1200.0    1034.58
165         £    2800.0    2800.00
166         $    3375.0    2396.24
167         $   19500.0   13844.95
168         €     250.0     215.54
169         €   25000.0   21553.75
170         $   12500.0    8874.97
171         $    4495.0    3191.44
172         $     750.0     532.50
173         $    1500.0    1065.00
174         $    3100.0    2200.99
175         €    3800.0    3276.17
176         $      95.0      67.45
177         €   18000.0   15518.70
178         $   28000.0   19879.93
179         T       NaN        NaN
180         $   16000.0   11359.96
181         €    3900.0    3362.38
182         $     250.0     177.50
183         $    2500.0    1774.99
184         $    3000.0    2129.99
185         $     950.0     674.50
186         $     200.0     142.00
187         $    5500.0    3904.99
188         $     475.0     337.25
189         $    2500.0    1774.99
190         $    9200.0    6531.98
191         $    1200.0     852.00
192         $    2500.0    1774.99
193         €    8100.0    6983.41
194         $    1500.0    1065.00
195         $    1250.0     887.50
196         €  200000.0  172430.00
197         T       NaN        NaN
198         $    9000.0    6389.98
199         $    7000.0    4969.98
200         $    2400.0    1703.99
201         €    8000.0    6897.20
202         $    2200.0    1561.99
203         $    3895.0    2765.44
204         €     250.0     215.54
205         $    9750.0    6922.48
206         €   50000.0   43107.50
207         $     395.0     280.45
208         $    1950.0    1384.50
209         $    1900.0    1349.00
210         £    4950.0    4950.00
211         $    6000.0    4259.99
212         $    4300.0    3052.99
213         €    2800.0    2414.02
214         $    7500.0    5324.98
215         $     800.0     568.00
216         $    4400.0    3123.99
217         €     370.0     319.00
218         €   26000.0   22415.90
219         $    8000.0    5679.98
220         £   36000.0   36000.00
221         $   80000.0   56799.80
222         T       NaN        NaN
223         €   24500.0   21122.67
224         £    2600.0    2600.00
225         $    6600.0    4685.98
226         $    2500.0    1774.99
227         $   17000.0   12069.96
228         €    2900.0    2500.24
229         €     250.0     215.54
230         $    1200.0     852.00
231         $   35000.0   24849.91
232         $    2000.0    1420.00
233         $    6500.0    4614.98
234         $    1895.0    1345.45
235         $     750.0     532.50
236         $    1600.0    1136.00
237         $   10000.0    7099.98
238         €    3750.0    3233.06
239         $    2000.0    1420.00
240         $    5500.0    3904.99
241         €    3600.0    3103.74
242         $    2500.0    1774.99
243         €     800.0     689.72
244         €    2500.0    2155.38
245         $    1800.0    1278.00
246         £   25000.0   25000.00
247         £     230.0     230.00
248         €    3600.0    3103.74
249         $    1400.0     994.00
250         $     375.0     266.25
251         $    2800.0    1987.99
252         $    2750.0    1952.49
253         €    1550.0    1336.33
254         €    2900.0    2500.24
255         $    3570.0    2534.69
256         $    2500.0    1774.99
257         $   26250.0   18637.44
258         £     400.0     400.00
259         $   14000.0    9939.97
260         $    3850.0    2733.49
261         $   14000.0    9939.97
262         £    3250.0    3250.00
263         $  200000.0  141999.51
264         €    1330.0    1146.66
265         £   20000.0   20000.00
266         $    2200.0    1561.99
267         T       NaN        NaN
268         T       NaN        NaN
269         £     840.0     840.00
270         £   95000.0   95000.00
271         $     250.0     177.50
272         €  195000.0  168119.25
273         $   14500.0   10294.96
274         $    1950.0    1384.50
275         £   34000.0   34000.00
276         $    3400.0    2413.99
277         $    4900.0    3478.99
278         $    4500.0    3194.99
279         £    2600.0    2600.00
280         $    1500.0    1065.00
281         $    5200.0    3691.99
282         $   11000.0    7809.97
283         $    2995.0    2126.44
284         $     100.0      71.00
285         $    9295.0    6599.43
286         $   15000.0   10649.96
287         $    5200.0    3691.99
288         $    7000.0    4969.98
289         $   10300.0    7312.97
290         T       NaN        NaN
291         $   18900.0   13418.95
292         $    2500.0    1774.99
293         $    1300.0     923.00
294         $     800.0     568.00
295         £   14500.0   14500.00
296         $    1500.0    1065.00
297         €     990.0     853.53
298         $   13800.0    9797.97
299         $    5000.0    3549.99
300         $    3500.0    2484.99
301         $   19950.0   14164.45
302         $     200.0     142.00
303         €   21000.0   18105.15
304         $    7500.0    5324.98
305         $    3000.0    2129.99
306         £    7950.0    7950.00
307         €   29000.0   25002.35
308         £     250.0     250.00
309         $    2700.0    1916.99
310         T       NaN        NaN
311         $    5000.0    3549.99
312         $    3500.0    2484.99
313         $    2895.0    2055.44
314         $   70000.0   49699.83
315         €   13000.0   11207.95
316         $    7450.0    5289.48
317         $    5500.0    3904.99
318         T       NaN        NaN
319         $    3400.0    2413.99
320         $  175000.0  124249.57
321         €    2320.0    2000.19
322         $    1800.0    1278.00
323         £    1200.0    1200.00
324         $   15500.0   11004.96
325         €   75000.0   64661.25
326         $     200.0     142.00
327         $    1200.0     852.00
328         £   14500.0   14500.00
329         $   40000.0   28399.90
330         $  125000.0   88749.69
331         £    2255.0    2255.00
332         $   10000.0    7099.98
333         $    2000.0    1420.00
334         $    2500.0    1774.99
335         $    2500.0    1774.99
336         $    1450.0    1029.50
337         $    1100.0     781.00
338         $   25000.0   17749.94
339         $   11000.0    7809.97
340         $   12000.0    8519.97
341         $     200.0     142.00
342         $     800.0     568.00
343         $   30000.0   21299.93
344         $     950.0     674.50
345         €  170000.0  146565.50
346         £    8700.0    8700.00
347         $   25000.0   17749.94
348         $   45000.0   31949.89
349         $    5500.0    3904.99
350         €   25000.0   21553.75
351         $   16495.0   11711.41
352         $    1000.0     710.00
353         $   14800.0   10507.96
354         T       NaN        NaN
355         $   17895.0   12705.41
356         €    5700.0    4914.26
357         $    8500.0    6034.98
358         $    6150.0    4366.48
359         $     640.0     454.40
360         $   72000.0   51119.82
361         $    5000.0    3549.99
362         €    7500.0    6466.12
363         $   22500.0   15974.94
364         €    5600.0    4828.04
365         €    1300.0    1120.80
366         $   17500.0   12424.96
367         $    2100.0    1490.99
368         $    1850.0    1313.50
369         $    6500.0    4614.98
370         $    4495.0    3191.44
371         T       NaN        NaN
372         $    7000.0    4969.98
373         $    4000.0    2839.99
374         €    2500.0    2155.38
375         £     120.0     120.00
376         £    2800.0    2800.00
377         £   10500.0   10500.00
378         $   12000.0    8519.97
379         $     110.0      78.10
380         $   25000.0   17749.94
381         $  185000.0  131349.54
382         €   10000.0    8621.50
383         €   17500.0   15087.62
384         €    1300.0    1120.80
385         $    3800.0    2697.99
386         $     750.0     532.50
387         $   12500.0    8874.97
388         $    4295.0    3049.44
389         $    8500.0    6034.98
390         $    3500.0    2484.99
391         $   18000.0   12779.96
392         $     950.0     674.50
393         $    1950.0    1384.50
394         $    5495.0    3901.44
395         $   10895.0    7735.42
396         $   14895.0   10575.41
397         $    2700.0    1916.99
398         £    8000.0    8000.00
399         $   16000.0   11359.96
400         $   27000.0   19169.93
401         $    4000.0    2839.99
402         €   55000.0   47418.25
403         $    2400.0    1703.99
404         €    2300.0    1982.94
405         $    2500.0    1774.99
406         $   95000.0   67449.77
407         $   15200.0   10791.96
408         £    3850.0    3850.00
409         €    2600.0    2241.59
410         $   12000.0    8519.97
411         $     800.0     568.00
412         E       NaN        NaN
413         €   49000.0   42245.35
414         $    5000.0    3549.99
415         $   15000.0   10649.96
416         $     495.0     351.45
417         $    7500.0    5324.98
418         €   15000.0   12932.25
419         £    3950.0    3950.00
420         £    2000.0    2000.00
421         €     990.0     853.53
422         €     250.0     215.54
423         $    9000.0    6389.98
424         $    4500.0    3194.99
425         $  125000.0   88749.69
426         €  135000.0  116390.25
427         $     300.0     213.00
428         $    2200.0    1561.99
429         $   24000.0   17039.94
430         €  350000.0  301752.50
431         $   28895.0   20515.38
432         $    2500.0    1774.99
433         $   12200.0    8661.97
434         $   30000.0   21299.93
435         $    2200.0    1561.99
436         $    3000.0    2129.99
437         £   18500.0   18500.00
438         $    5500.0    3904.99
439         $    3500.0    2484.99
440         £    2400.0    2400.00
441         $    4500.0    3194.99
442         €  100000.0   86215.00
443         €   40000.0   34486.00
444         $    1800.0    1278.00
445         €   11000.0    9483.65
446         $    3600.0    2555.99
447         $     185.0     131.35
448         $   28000.0   19879.93
449         $     400.0     284.00
450         $    3895.0    2765.44
451         $    7500.0    5324.98
452         $    5800.0    4117.99
453         $    2895.0    2055.44
454         $    2600.0    1845.99
455         $   12000.0    8519.97
456         €    8000.0    6897.20
457         €   55000.0   47418.25
458         E       NaN        NaN
459         T       NaN        NaN
460         E       NaN        NaN
461         €     590.0     508.67
462         T       NaN        NaN
463         €   85000.0   73282.75
464         $    7600.0    5395.98
465         €    1400.0    1207.01
466         $    4695.0    3333.44
467         $     600.0     426.00
468         $     400.0     284.00
469         $   76000.0   53959.81
470         $   13895.0    9865.42
471         $    6500.0    4614.98
472         £   17800.0   17800.00
473         $     400.0     284.00
474         $   85000.0   60349.79
475         $   36000.0   25559.91
476         $   18000.0   12779.96
477         $   22500.0   15974.94
478         $    2000.0    1420.00
479         €    2650.0    2284.70
480         $   10895.0    7735.42
481         $    1000.0     710.00
482         $     600.0     426.00
483         $    3200.0    2271.99
484         $    2500.0    1774.99
485         $    1085.0     770.35
486         $    1500.0    1065.00
487         T       NaN        NaN
488         $    6000.0    4259.99
489         $    6500.0    4614.98
490         €    3150.0    2715.77
491         $   15000.0   10649.96
492         $    1750.0    1242.50
493         $   45000.0   31949.89
494         $    6500.0    4614.98
495         $    2295.0    1629.44
496         $    2500.0    1774.99
497         $    5500.0    3904.99
498         $   24000.0   17039.94
499         T       NaN        NaN
500         £    2000.0    2000.00
501         $    1500.0    1065.00
502         €    1100.0     948.37
503         $   14895.0   10575.41
504         $   30000.0   21299.93
505         £     240.0     240.00
506         $    7000.0    4969.98
507         $    2500.0    1774.99
508         $    6375.0    4526.23
509         €   11500.0    9914.73
510         $   14000.0    9939.97
511         $     650.0     461.50
512         $    2000.0    1420.00
513         €   14000.0   12070.10
514         €    5000.0    4310.75
515         €    2800.0    2414.02
516         €    6500.0    5603.97
517         $    4500.0    3194.99
518         €    4500.0    3879.67
519         $    2800.0    1987.99
520         $    5500.0    3904.99
521         $    2000.0    1420.00
522         $    5100.0    3620.99
523         $    3500.0    2484.99
524         £     650.0     650.00
525         $   10000.0    7099.98
526         $    2500.0    1774.99
527         E       NaN        NaN
528         $   11000.0    7809.97
529         T       NaN        NaN
530         $    5000.0    3549.99
531         $    2600.0    1845.99
532         €   30000.0   25864.50
533         €   10000.0    8621.50
534         $     690.0     489.90
535         T       NaN        NaN
536         $     950.0     674.50
537         €   29000.0   25002.35
538         $   10000.0    7099.98
539         $     225.0     159.75
540         $    2420.0    1718.19
541         $    6300.0    4472.98
542         £    4500.0    4500.00
543         $   21500.0   15264.95
544         €    1000.0     862.15
545         €     800.0     689.72
546         $    2895.0    2055.44
547         $   10000.0    7099.98
548         $   16000.0   11359.96
549         $     175.0     124.25
550         €    3500.0    3017.53
551         €   11500.0    9914.73
552         $    9000.0    6389.98
553         €   27500.0   23709.12
554         $    2000.0    1420.00
555         $     750.0     532.50
556         $    4500.0    3194.99
557         $   26000.0   18459.94
558         $     850.0     603.50
559         $     350.0     248.50
560         €    2400.0    2069.16
561         $    1600.0    1136.00
562         $    2900.0    2058.99
563         T       NaN        NaN
564         €   12000.0   10345.80
565         $    6000.0    4259.99
566         $   22000.0   15619.95
567         T       NaN        NaN
568         T       NaN        NaN
569         $    1395.0     990.45
570         $     350.0     248.50
571         $   24000.0   17039.94

Omit rows where there is no price information.

In [188]:
# find rows where there is no price information
error_rows = artsy_listings.index[np.isnan(artsy_listings['price'])]

# exclude these rows from the overall dataframe
artsy_listings = artsy_listings.drop(error_rows, axis=0)

# # how much of original dataframe did we exclude?
rows_excluded = len(error_rows)
percent_excluded = round((len(artsy_data) - len(artsy_listings)) / len(artsy_data) * 100, 2)
f"We excluded {rows_excluded} entries, or {percent_excluded}% of the original dataset, because of errors in data collection."

'We excluded 448 entries, or 15.39% of the original dataset, because of errors in data collection.'

## Clean predictor variables

### 1. Year
Let's start with the artwork side, specifically, **year** (and therefore age) of the artwork.

In [189]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(artsy_listings['year'])

0                                                ca. 2012
1                                                    2017
2                                                    2015
3                                                    2016
5                                                    2019
6                                                    2020
7                                                    2020
8                                            Late 20th c.
9                                                    2017
10                                                     II
11                                                   2018
12                                                   2020
13                                                   2020
14                                                   2020
15                                                   2017
17                                                   2020
18                                                   2020
19                                                   1973
20                                                   2016
21                                                   2020
22                                                   2018
23                                                   2019
24                                                   2020
25                                              2008/2017
26                                                   2020
27                                                   2017
28                                                   1987
29                                                   2019
30                                                   2020
31                                                   2020
32                                                   2020
33                                              2006-2009
34                                                   2020
35                                                   2020
36                                                   2020
37                sin jardin con Alicia y los dos conejos
38                                                   2020
39                                                   2020
40                                           20th Century
41                                                   2020
42                                                   2020
43                                                   2015
44                                                   2020
45                                                   2019
46                                                  Night
47                                                   2018
48                                                   2019
49                                                   2018
50                                                   1955
51                                                   2015
52                                                   2020
53                                                   2020
54                                                   2019
55                                              1984-1994
56                                                   2021
57                                              2006-2009
58                                                   2019
59                                                   2020
60                                                   2021
61                                                   2018
62                                                   2019
63                                                   1996
64                                               ca. 2017
65                                                  white
66                                                   2011
67                                              2000-2020
68                                                   1938
69                                                   2020
70                                                   2020
71                                                   2020
72                                                   2015
73                                                   2018
74                                              2016-2017
75                                                   2020
76                                                   2020
77                                                   2011
78                                              1990-1999
79                                              1990-1999
80                                                   2018
81                                                   2020
82                                                   2019
83                                                   1990
84                                                   1984
86                                                   2020
87                                                   2019
88                                                   2020
89                                                   2019
90                                              1980-2000
91                                                   2007
92                                                   2020
93                                                   1991
94                                                   2021
95                                              2006-2009
96                                                   2011
97                                                   2018
98                                                   1968
99                                                   2019
100                                                  2020
101                                                  2021
102                                                  2020
103                                             2000-2020
104                                                  2017
105                                                  2020
106                                                  2012
107                                                  2017
108                                          20th Century
109                                                  2019
110            Sliced guitar with acrylic paint on canvas
111                                                  2020
112                                                  2019
113                                                  2020
114                                                  2020
115                                                  2020
117                                                  2020
118                                                  2018
119                                                  1996
120                                                  2018
121                                                  2016
122                                                  2019
123                                                  2020
125                                                  2018
126                                         C. 1997 -1999
127                                                  2020
128                                                  1994
129                                                  2020
130                                                  1975
131                                                  1979
132                                                  2018
133                                                  2018
134                                                  2020
135                                                  2017
136                                          21st Century
137                                                  1963
138                                                  2016
139                                                  2003
140                                              ca. 2011
141                                             1991-2020
142                                                  2006
143                                                  2020
144                                                  2018
145                                             1990-2020
146                                                  2018
147                                                  2006
148                                              ca. 2020
149                                                  2020
150                                                  1977
151                                                  2020
152                                                  2018
153                                                  2013
154                                                  2014
155                                          19th Century
156                                                  1988
157                                                  2019
158                                                  2011
159                                                  1987
160                                                  2020
161                                                  2017
162                                                  2017
163                                                  2017
164                                                  2020
165                                                  2014
166                                              ca. 1995
167                                         C. 1996 -1999
168                                                  2020
169                                                  2020
170                                                  2009
171                                                  2002
172                                                  2020
173                                                  2021
174                                                  2018
175                                                  2020
176                                                  2020
177                                                  2017
178                                                  2020
180                                                  2019
181                                                  1957
182                                                  2020
183                                                  1990
184                                                  2018
185                                                  2020
186                                             1991-2020
187                                                  1996
188                                                  Blue
189                                                  1981
190                                                  2020
191                                          20th century
192                                                  2013
193                                                  2013
194                                             2000-2020
195                                                  2020
196                                                  2007
198                                                  2018
199                                                  2014
200                                                  2019
201                                                  2019
202                                                  2020
203                                          21st Century
204                                                  2020
205                                         Bloody Monday
206                                                  2017
207                                                  2019
208                                                  2020
209                                                  2014
210                                          19th Century
211                                                  2020
212                                                  2018
213                                                  2020
214                                                  2008
215                                                  2015
216                                                  2015
217                                                  2019
218                                                  1992
219                                                  2010
220                                              Masseuse
221                                                  1964
223                                                  2015
224                                                  2020
225                                                  2016
226                                             2000-2020
227                                                  2020
228                                     Typography series
229                                                  2020
230                                                  2020
231                                                  2009
232                                                  2019
233                                                  2009
234                                                  2002
235                                                  2020
236                                                  2020
237                                                  1982
238                                            Deauville
239                                                  2018
240                                              ca. 2020
241                                                  2017
242                                                  2020
243                                                  2018
244                                                  2013
245                                             2000-2020
246                                                  1978
247                                                  2020
248                                                  2011
249                                                  2021
250                                                  2020
251                                                  2017
252                                                  2020
253                                                  2019
254                                                  2017
255                                                  2018
256                                                  2020
257                                                  2005
258                                                  2020
259                                                  2018
260                                                  2019
261                                          Contemporary
262                                                  1890
263                                                  2002
264                                                  2020
265                                                  2015
266                                                  2019
269                                          20th Century
270                                              ca. 1982
271                                                  2021
272                                                  2018
273                                                  2019
274                                                  2020
275                                                  2017
276                                                  2019
277                                                  2020
278                                                  2016
279                                                  2020
280                                                  1984
281                                                  2021
282                                                  2016
283                                             1970-1989
284                                             1991-2020
285                                                  1991
286                                                  2020
287                                                  2021
288                                                  2018
289                                                  2017
291                                         C. 1997 -1999
292                                                  1990
293                                                  2020
294                                              ca. 2008
295                                                  1997
296                                                  2018
297                                                  2004
298                                                  1986
299                                             2010-2017
300                                                  2011
301                                                  1979
302                                                  2020
303                                                  2007
304                                                  1994
305                                                  2020
306                                          20th Century
307                                                  2009
308                                          20th Century
309                                                  2020
311                                                  1995
312                                              ca. 1995
313                                          20th Century
314                                                  2005
315                                                  2020
316                                                  1998
317                                                  2018
319                                                  2020
320                                                  1996
321                                                  2018
322                                                  2018
323                                              ca. 2000
324                                                  1974
325                                                  1966
326                                                  2020
327                                                  2018
328                                              ca. 1984
329                                              ca. 1990
330                                              ca. 1905
331                                                  2015
332                                                  2011
333                                                  2018
334                                                  2020
335                                                  2020
336                                                  2016
337                                                  2019
338                                                  2021
339                                                  2016
340                                                  1987
341                                                  2020
342                                                  2020
343                                                  2014
344                                                  2020
345                                                  2010
346                                                  2020
347                                                  2019
348                                                  1952
349                                                  2018
350                                                  2007
351                                                  1974
352                                             2006-2009
353                                                  2019
355                                                  1984
356                                                  2018
357                                              ca. 1958

In [190]:
# check types
# artsy_listings['year'].apply(lambda x: print(type(x)))

# replace any NaNs with none types
artsy_listings['year'] = artsy_listings['year'].replace({np.nan: 'none'})

# check types again
artsy_listings['year'].apply(lambda x: print(type(x)))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

0       None
1       None
2       None
3       None
5       None
        ...
2962    None
2966    None
2967    None
2968    None
2969    None
Name: year, Length: 2513, dtype: object

In [191]:
# remove 'ca' and 'circa'
artsy_listings['year'] = artsy_listings['year'].replace('ca.','', regex=True)
artsy_listings['year'] = artsy_listings['year'].replace('circa', '', regex=True)
artsy_listings['year'] = artsy_listings['year'].replace('Cir', '', regex=True)

# remove periods
import string
def remove_periods(text):
    text = text.replace('.', '')
    return text

artsy_listings['year'] = artsy_listings['year'].apply(remove_periods)

# find entries containing 1 or 2, otherwise insert "none" (str)
def findYears(entry):
    if "1" not in entry and "2" not in entry:
        entry = "none"
    return entry

artsy_listings['year'] = artsy_listings['year'].apply(findYears)

# replace century with averaged years
def replaceCenturies(entry):
    if "19th" in entry:
        if "early" in entry:
            entry = "1825"
        elif "late" in entry:
            entry = "1875"
        else:
            entry = "1850"
    elif "20th" in entry:
        if "early" in entry:
            entry = "1925"
        elif "late" in entry:
            entry = "1975"
        else:
            entry = "1950"
    elif "21st" in entry:
        entry = "2010"
    elif "contemporary" in entry:
        entry = "2010"
    return entry

artsy_listings['year'] = artsy_listings['year'].apply(replaceCenturies)

# replace split years with later year
def replaceYearSplit(entry):
    delimiter = ["/", "-", "–"]
    for c in delimiter:
        index = entry.find(c)
        entry = entry[index+1:]
    if "to" in entry:
        index = entry.find("to")
        entry = entry[index+3:]
    return entry

artsy_listings['year'] = artsy_listings['year'].apply(replaceYearSplit)

# replace decades ("0s", "0's")
def replaceDecades(entry):
    if "0s" in entry:
        entry = entry.replace("s", "")
        entry = entry.replace("0", "5")
    if "0's" in entry:
        entry = entry.replace("'s", "")
        entry = entry.replace("0", "5")
    return entry

artsy_listings['year'] = artsy_listings['year'].apply(replaceDecades)


# remove 's', 'c', 'cir', extra spaces, and any other punctuation
def removeFaff(entry):
    faff = ["cir", "c", "C", "s", "AD", " "]
    for c in faff:
        entry = entry.replace(c, "")
    return entry
    
artsy_listings['year'] = artsy_listings['year'].apply(removeFaff)


# remove any lines that don't have 4 characters
def noYear(entry):
    if len(entry) != 4:
        entry = "none"
    return entry

artsy_listings['year'] = artsy_listings['year'].apply(noYear)

# convert all years to numerics where possible, otherwise convert to NaNs
def convertYearNumeric(entry):
    if entry == "none":
        return 0
    else:
        return int(entry)

artsy_listings['year'] = artsy_listings['year'].apply(convertYearNumeric)


with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(artsy_listings['year'])

0       2012
1       2017
2       2015
3       2016
5       2019
6       2020
7       2020
8       1950
9       2017
10         0
11      2018
12      2020
13      2020
14      2020
15      2017
17      2020
18      2020
19      1973
20      2016
21      2020
22      2018
23      2019
24      2020
25      2017
26      2020
27      2017
28      1987
29      2019
30      2020
31      2020
32      2020
33      2009
34      2020
35      2020
36      2020
37         0
38      2020
39      2020
40      1950
41      2020
42      2020
43      2015
44      2020
45      2019
46         0
47      2018
48      2019
49      2018
50      1955
51      2015
52      2020
53      2020
54      2019
55      1994
56      2021
57      2009
58      2019
59      2020
60      2021
61      2018
62      2019
63      1996
64      2017
65         0
66      2011
67      2020
68      1938
69      2020
70      2020
71      2020
72      2015
73      2018
74      2017
75      2020
76      2020
77      2011
78      1999
79      1999
80      2018
81      2020
82      2019
83      1990
84      1984
86      2020
87      2019
88      2020
89      2019
90      2000
91      2007
92      2020
93      1991
94      2021
95      2009
96      2011
97      2018
98      1968
99      2019
100     2020
101     2021
102     2020
103     2020
104     2017
105     2020
106     2012
107     2017
108     1950
109     2019
110        0
111     2020
112     2019
113     2020
114     2020
115     2020
117     2020
118     2018
119     1996
120     2018
121     2016
122     2019
123     2020
125     2018
126     1999
127     2020
128     1994
129     2020
130     1975
131     1979
132     2018
133     2018
134     2020
135     2017
136     2010
137     1963
138     2016
139     2003
140     2011
141     2020
142     2006
143     2020
144     2018
145     2020
146     2018
147     2006
148     2020
149     2020
150     1977
151     2020
152     2018
153     2013
154     2014
155     1850
156     1988
157     2019
158     2011
159     1987
160     2020
161     2017
162     2017
163     2017
164     2020
165     2014
166     1995
167     1999
168     2020
169     2020
170     2009
171     2002
172     2020
173     2021
174     2018
175     2020
176     2020
177     2017
178     2020
180     2019
181     1957
182     2020
183     1990
184     2018
185     2020
186     2020
187     1996
188        0
189     1981
190     2020
191     1950
192     2013
193     2013
194     2020
195     2020
196     2007
198     2018
199     2014
200     2019
201     2019
202     2020
203     2010
204     2020
205        0
206     2017
207     2019
208     2020
209     2014
210     1850
211     2020
212     2018
213     2020
214     2008
215     2015
216     2015
217     2019
218     1992
219     2010
220        0
221     1964
223     2015
224     2020
225     2016
226     2020
227     2020
228        0
229     2020
230     2020
231     2009
232     2019
233     2009
234     2002
235     2020
236     2020
237     1982
238        0
239     2018
240     2020
241     2017
242     2020
243     2018
244     2013
245     2020
246     1978
247     2020
248     2011
249     2021
250     2020
251     2017
252     2020
253     2019
254     2017
255     2018
256     2020
257     2005
258     2020
259     2018
260     2019
261        0
262     1890
263     2002
264     2020
265     2015
266     2019
269     1950
270     1982
271     2021
272     2018
273     2019
274     2020
275     2017
276     2019
277     2020
278     2016
279     2020
280     1984
281     2021
282     2016
283     1989
284     2020
285     1991
286     2020
287     2021
288     2018
289     2017
291     1999
292     1990
293     2020
294     2008
295     1997
296     2018
297     2004
298     1986
299     2017
300     2011
301     1979
302     2020
303     2007
304     1994
305     2020
306     1950
307     2009
308     1950
309     2020
311     1995
312     1995
313     1950
314     2005
315     2020
316     1998
317     2018
319     2020
320     1996
321     2018
322     2018
323     2000
324     1974
325     1966
326     2020
327     2018
328     1984
329     1990
330     1905
331     2015
332     2011
333     2018
334     2020
335     2020
336     2016
337     2019
338     2021
339     2016
340     1987
341     2020
342     2020
343     2014
344     2020
345     2010
346     2020
347     2019
348     1952
349     2018
350     2007
351     1974
352     2009
353     2019
355     1984
356     2018
357     1958
358     2017
359     2021
360     2005
361     2018
362     2016
363     1999
364     2014
365     2015
366     2019
367     2020
368     2019
369     2017
370     2010
372     2021
373     2019
374     2013
375     2020
376     2020
377     1984
378     2020
379     2020
380     1995
381     1967
382        0
383     2017
384     2021
385     2019
386     2002
387     2019
388     2010
389     1972
390        0
391     2010
392     2019
393     2020
394     1982
395     1995
396     2010
397     2020
398     2007
399     2020
400     2019
401     2020
402     1963
403        0
404     2014
405     1979
406     2015
407     2020
408     2017
409     2017
410     2017
411     2003
413     1986
414     2020
415     2020
416     2021
417     2018
418     2015
419     2019
420     2020
421     2004
422     2020
423     2018
424     2013
425     1980
426        0
427     2020
428     1998
429     1978
430     1965
431     1996
432     2020
433        0
434     2019
435        0
436     1990
437        0
438     2019
439     2021
440     2020
441     2020
442     2005
443     2017
444     2002
445        0
446     2020
447     2018
448     2006
449     2020
450     1992
451     2020
452     2015
453     1989
454     2018
455     2016
456     2018
457        0
461     2020
463     1942
464     2017
465        0
466     1950
467     2020
468     2020
469     2019
470     1950
471        0
472     1850
473     2020
474     2014
475     2008
476     2019
477     2000
478     2018
479     2020
480     1950
481     2020
482     2021
483     2019
484     2020
485     2009
486     2013
488     1976
489        0
490     2014
491     2019
492     2020
493     1978
494     2019
495     1950
496     2015
497     1976
498     2020
500     2020
501     2008
502     2017
503     2010
504     1998
505     1950
506     1987
507     1990
508     1999
509     2020
510     2018
511     2019
512     2015
513     1992
514     2009
515     2019
516     2020
517     2020
518     2017
519     2019
520     2019
521     2020
522     2007
523     1998
524     2020
525     1980
526     1990
528     2018
530     2017
531     2020
532        0
533        0
534     2020
536     2020
537        0
538     1997
539     2020
540     2020
541     2010
542     2006
543        0
544     2018
545     2019
546     1999
547     2019
548     2019
549     2020
550     2019
551     2015
552     2020
553     1987
554     2018
555     2020
556     2020
557     2018
558     2018
559     2021
560     2018
561     2020
562     2020
564     2018
565     2020
566     2017
569     1950
570     2021
571     2015
572        0
573     2011
574     2019
575     2021
577     2019
578     2020
579     2016
580     2014
581     2020
582     2019
583     2020
584     2020
585     2016
586     2020
587     2020
588     2020
589        0
591     2019
592     1999
593     2019
596     2020
598     2014
600     1998
601     2013
603     1950
605     1950
606     2020
607     2020
608     1981
609     2020
610     2020
611     2020
612     1988
613     2012
614     2020
615     2019
616     2011
617     2021
618     2020
619     2007
620     2020
622     2018
623     2020
624     2020
625     2018
626     2020
627     2020
628        0
629     2014
630     2020
631     2000
632     2020
633     2020
634     1850
635     2020
636     2020
637     2020
638     2020
639     2020
640     2019
641     2020
642     2012
643     2020
644     1960
645     1986
646     2017
647     2020
648     2020
649     2020
650     2018
651     2007
652     2020
653     2011
654     2020
655     1992
656     2019
657     1999
658     2001
659     2020
660     1974
662        0
663     1987
664     2007
665     2020
666     2020
668     2020
669     1968
670     2014
671     2017
672     2019
673     1985
674     2020
675     2016
676     2017
677        0
678     2020
679     2020
680        0
681     2019
682     1982
683     1950
684     2020
685     2016
687     2019
689     2019
690     2010
691     2013
692     1973
693     2008
694     1994
695     2007
696     1990
697     1988
698     2021
699     2018
701     2019
703     1996
705     2020
707     2020
708     2018
709     2020
710     2014
712     1970
713     2019
714     1997
716     2021
717     2013
718     2017
719     1985
720     1959
721        0
722     2020
723     1958
724     2020
725     1982
726     2019
727     1998
728     2020
729     2010
730     2014
731     1990
732     1999
733     2019
734     2017
735     2020
736     2020
737     2020
738     1982
739     2017
740     2015
741     2015
742     2020
743     2020
744     2015
745     2020
746     1950
747     2019
748     2017
749     2005
750     2019
751     2017
752     2018
753     2020
754     1990
755     1978
756     1969
757     2016
758     2020
759     2021
760     2020
761     2011
762     2019
764     2020
765     2020
767     2021
768     2002
769     1985
770     1950
771     2020
772     2017
773     2006
774     2020
775     2018
776     2020
777     1990
778     2012
779     2012
780     2012
781     2020
782     2020
783     2020
784     2007
785     2020
786     2020
787     1850
788     2020
789     2004
790     2019
791     2019
792     1978
793     2019
794     2019
795     2017
796        0
797     2020
798     2014
799     2017
800     2010
802     2017
803     2019
804     1985
805     1971
806     2018
807        0
808        0
809     2018
810     2020
811     2020
812     2020
813     2020
815     2018
818     1990
819     1955
821     2011
824     1989
825     1979
826     2018
827     2019
828        0
829     2020
830     2019
831     1960
833     1999
835     2020
836     1998
837     1966
839     2005
840     2016
843     1980
844     2018
845     2012
847     1955
848     2002
849     1950
850     2002
851     2018
852        0
853     2008
854     2019
855     1971
856     1974
857     2020
858     1986
859     2007
860        0
861     2019
862     2000
864     2020
865        0
866     2020
869     1982
870     1962
871     2010
872     1971
873     1974
874     1950
875     2020
876     2014
877     1970
878     2019
879     1999
880     1998
881     2020
883     1948
884     1990
887     1989
890     2020
891     2020
892     2020
893     1950
894     2017
895     1963
897     1989
899     1998
900     2020
901     2019
902     2018
904     2020
905     2020
907     2020
908     2015
911     2020
912     2006
913     2020
914     2020
915     2020
916     2018
917     2021
918     2021
921     2020
922     2012
923     2020
924     1983
926     2015
927     2020
928     2018
929     2019
931     2016
933     2020
935     1973
936     2020
937     2009
938     1975
940     2020
941     2021
942     1998
943     2014
945        0
946     2019
947     1950
948     1970
949     2014
950     2018
951     2014
952     2020
954     1992
955     2018
956     2019
957     1989
958     2020
959     1949
960     2019
962     2020
963     1985
964        0
965     2012
966     2019
967     1993
968     2019
969     2018
970     2019
971     2017
972     2018
973     2019
974     2003
975     2017
976     2010
978     2020
979     2020
980        0
981     2011
982     1976
983     1989
986     2020
987     1960
988     2020
989     2018
990        0
991     1950
994     2020
995     2013
996     2010
997     2019
998     2020
999     1999
1000    2020
1001    1966
1003    1950
1004    2019
1005    2021
1007    2008
1008    1983
1009    2020
1010    2019
1011    2020
1012    2018
1013    1990
1014    1954
1015       0
1016    2020
1017    2004
1019    2016
1020    2013
1021    2014
1022    2019
1023    1985
1024    2020
1025    2007
1026    1980
1027    1965
1029    2017
1030    1989
1031    2004
1032    1950
1034    1993
1035    2010
1037    2020
1038    2015
1039    1931
1040    2017
1041       0
1042       0
1043    2010
1044    1958
1045    2015
1046    2018
1047    2020
1048    2017
1050    2014
1051    2011
1052       0
1053    2019
1055    2020
1056    2020
1057    2020
1058    2019
1059    2019
1060    1960
1062    2016
1063    1954
1064    2020
1065    2012
1066    2020
1067    1948
1068    1997
1070    2019
1071    2020
1072    2015
1074    2020
1075    2010
1076    2020
1077    2017
1078    2020
1079    2016
1080    2014
1081    2019
1082    1984
1083    2021
1084    2003
1086    1969
1087    2014
1088    2020
1089    1965
1090    2019
1091    2020
1093    2014
1094    2020
1099    2020
1100    1973
1101    2018
1102    2020
1104       0
1105    1962
1106    2019
1107    2019
1108    2015
1109       0
1110    1965
1111    2019
1112    2012
1114    2020
1115    2017
1117    2009
1118    2020
1119    2020
1120    1950
1121    2019
1122    2020
1123    2018
1124    2017
1125    2019
1126    2018
1127    2016
1128    2020
1129       0
1130    1959
1131    2019
1132    2009
1134    2015
1135    1947
1136    2014
1137       0
1138    1973
1141    2020
1142    2015
1143    1989
1144    2020
1145    2005
1146    2020
1148    2020
1150    2019
1151    2020
1152    2020
1153    2019
1155    1960
1156       0
1157    2019
1158    2020
1159    1985
1160    1947
1161    2007
1162    1978
1163    2020
1164    2018
1165    2018
1166    2020
1167    2020
1168    2020
1169    2010
1170    2019
1172    2019
1174    1968
1175    2019
1176    2016
1177    2010
1179    2018
1180    2020
1181    2016
1182    2020
1183    1950
1185    1969
1186    1975
1188    2012
1189    2015
1190    2019
1191    2021
1193    2011
1195    1976
1196    1988
1197    2000
1199    2007
1200    1975
1201       0
1202    1938
1204    1974
1205    1914
1206    2020
1207    2017
1208       0
1209    2012
1210    2020
1211    2012
1212    2020
1213    2019
1214    2013
1215    2020
1217    1995
1218    2020
1219    1976
1220    2020
1221    2005
1222    2014
1223    2015
1224    2020
1226    2020
1227    2019
1228    2017
1229    1950
1230       0
1231    2019
1232    2019
1234    1984
1235    2016
1237    1990
1238    2019
1239    2006
1240    1974
1242       0
1243    2020
1244    2018
1245    2019
1246    1965
1247    2014
1248    2021
1249    2019
1250    2020
1252    2018
1253    2021
1254    2020
1255    2019
1256    2021
1258       0
1259    2016
1260    2015
1261    2020
1262    2020
1264    1951
1265    2018
1266    1950
1267    2019
1268    2009
1269    2020
1270    2021
1271    2012
1274    2020
1275    1850
1276    2009
1277    2019
1278    2020
1279    1950
1280    2020
1281       0
1282    2020
1283    1983
1284    2020
1285    2020
1286    2020
1287    2020
1288    1950
1289    2020
1290    2009
1291    1970
1292    2017
1293    2019
1295    2020
1296    2019
1298    2015
1299    2019
1300    1999
1301       0
1303       0
1304    1990
1305    2020
1306    2020
1307    2014
1309    1967
1310    2014
1311    2020
1312    1950
1314    1984
1315    1985
1316       0
1317    2020
1318    1977
1319    2020
1322    2005
1323    1975
1324    2020
1325    2019
1327    2000
1328    2014
1329    2019
1330    2015
1331       0
1332    2021
1334    2018
1335    2012
1336    2019
1338    1955
1339    2012
1340    2009
1341    1949
1342    2020
1343    2015
1344    1989
1345    2020
1346    2020
1347    2005
1348       0
1349    2009
1350    2019
1351    2020
1352    2020
1353    1963
1354    2019
1355    2019
1356    2020
1357    2013
1358    2020
1359    2020
1360    2013
1361    2020
1362    2020
1363    2020
1364    2020
1365    2000
1366    2020
1367    2015
1368    1990
1369    2020
1370    2020
1371    2019
1372    1935
1373    2010
1375    2019
1377    2020
1378       0
1379       0
1381       0
1382    1990
1383    2016
1385    2020
1387    2019
1388    2011
1389    2019
1390    2020
1391    2016
1392    2019
1393    2016
1394    2020
1395    2020
1397    2017
1400    1950
1401    2020
1402    2020
1403    2020
1404    2020
1405    1850
1406    2013
1407    2019
1408    1990
1409    2020
1410    1978
1411    2015
1412    2020
1413    2017
1414    1981
1415    2020
1416    1954
1417       0
1418    2014
1419    2019
1421       0
1422    1974
1423    1971
1424    2019
1425    2018
1426    2020
1427    2020
1428    2009
1429    1950
1430    2020
1431    1995
1433    2009
1434    2008
1435    2018
1436    2020
1437    2020
1438    2021
1439    1990
1440    2020
1441    2020
1443    2020
1445    2020
1446    2020
1447    2020
1448    2020
1449    1998
1450    1998
1451    2016
1452    2007
1453    1988
1455    2019
1457    1984
1460    2018
1461    2020
1462    1974
1463    2010
1464    2019
1465    2020
1466    2020
1467    2014
1468    2020
1474    2020
1475    2020
1476    1950
1477    2020
1478    1973
1479    2019
1481    2021
1483    2020
1484    2019
1486    2014
1487    2020
1488    2020
1489    2020
1490    2021
1492    2020
1493    1987
1494    2020
1495    2017
1496    1947
1497    2018
1498    1950
1500    1999
1502    1994
1503    2020
1505    2019
1506    2020
1507    2020
1508    2020
1509    2010
1510    2020
1511    2015
1512    2020
1513    1950
1514    2016
1515    2008
1516    2016
1517    2016
1518    2020
1519    2011
1520    1991
1521    2016
1523    1995
1524    2020
1525    2015
1526    2020
1527    2018
1528    1989
1530    1991
1531    2000
1532    2020
1533    1950
1534    1962
1535    2015
1536    2020
1537    2020
1538    2020
1539    2019
1540    2020
1542    2555
1543    2020
1544    1924
1545    2020
1547    2010
1548    2020
1549    1985
1550    2020
1551    2020
1552    2016
1554    1987
1555    2016
1556    2020
1557    1969
1558    2020
1561    2019
1562       0
1563    2012
1564    2020
1565    1942
1566    2020
1567    2019
1568    2020
1570    2017
1571    2020
1572    2013
1573    2019
1574    2019
1575    1990
1576    2010
1577    2019
1578    2019
1579    1991
1580    2020
1581    2020
1582    2015
1584    2020
1585    2020
1586       0
1587    1983
1588    1980
1589    1950
1590    2020
1591    2018
1592    2021
1593    1970
1594    2017
1595    1950
1596    1966
1597    2009
1598    1964
1600    2019
1601    2012
1602    2013
1603    2020
1604    1990
1605    1900
1606    1960
1607    2020
1608    1982
1609    1961
1610    1981
1611    2013
1612    2020
1615    2018
1616    2020
1617    1970
1618    2019
1619    2017
1620    2012
1621    2010
1622       0
1623    2013
1624    1950
1625    1970
1626    2017
1627    2018
1628    2019
1629    1969
1630    2019
1631    1991
1632    2005
1633    2018
1634    2007
1635    1886
1636    2020
1637    2009
1638    2018
1639    1980
1640       0
1641    1955
1642    2017
1643    2021
1644    2019
1645    2020
1647    1990
1648    2019
1649    2018
1650    2016
1651    1970
1654    2020
1655    2020
1656    2019
1657    2018
1658    2013
1659    2019
1661    1998
1664    2015
1665    2020
1667    2020
1668    2018
1669    2020
1670    1966
1671    2021
1672    2013
1674    2020
1675       0
1676    2019
1677    2019
1678    2019
1680    1960
1681    2010
1683    1950
1685    2018
1686    2020
1687    2004
1689    2012
1690    2020
1693    2019
1694    2010
1695    2020
1696    2019
1697    2011
1698    2020
1699    2015
1700    2019
1702    1980
1703    1970
1704    1950
1705    2017
1706    1990
1707    2016
1708    2020
1709       0
1710    2020
1711    2021
1712    1957
1713    2018
1714       0
1716    2020
1717       0
1718    2020
1719    1989
1720    1980
1723    2018
1724    2019
1725    1994
1726    1989
1728       0
1729    2020
1730    2020
1731    2020
1732    2018
1734    2020
1735    1950
1738    1994
1739    1985
1740    1952
1742    2017
1743    2008
1744    2020
1748       0
1750    2020

### Finally, representation variables: gallery and gallery location.

In [162]:
# with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#     display(artsy_listings[['gallery', 'gallery_location']])